<div>
  <form>
    <input type="file" name="files" accept="image/*" multiple="true" id="files" #inputFiles (change)="addFiles(inputFiles);">
    <button type="button" class="btn btn-secondary" (click)="inputFiles.click()">Add Cover</button>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>Cover</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cover of covers">
        <td>
          <img width="100px" [src]="cover.src" />
        </td>
        <td *ngIf="!cover.code">{{ cover.progress }}%</td>
        <td *ngIf="cover.code">
          <a class="btn btn-sm" href="#" (click)="$event.preventDefault()" >delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
